
body {
    background-image: url('./assets/freepik__upload__83394.jpeg');
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
    margin-top: 20px;
    color: #E4572E;
    text-shadow: 1px 1px 19px #0d6efd;

}


.ques {
    border: 2px solid #0d6efd;
    border-radius: 12px;
    color: black;
    font-size: 18px;
    transition: background-color 0.3s, border-color 0.3s;
}

.ques:hover {
    background-color: #0d6efd;
    color: white;
}


.opt {
    border: 2px solid #0d6efd;
    border-radius: 10px;
    padding: 10px;

    color: black;
    transition: background-color 0.3s, transform 0.2s;
}

.opt:hover {
    background-color: #0d6efd;
    color: white;
    transform: scale(1.02);
    cursor: pointer;
}


.s {
    border: 2px solid #0d6efd;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    color: white;
    background-color: #0d6efd;
    margin-right: 10px;
}
.r{
    background-color: transparent;
}


.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.card {
    border-radius: 12px; 
    border: 2px solid #0d6efd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}


.btn-primary {
    background-color: #0d6efd;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#display {
    margin-top: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #0d6efd;
    border-radius: 10px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: black;
    transition: background-color 0.3s, transform 0.2s;
}

.stats-container:hover {
    transform: scale(1.02);
    background-color: #0056b3;
    color: white;
}

.stats-item {
    text-align: center;
}

#score {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #0d6efd;
    border-radius: 10px;

    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
}

#score:hover {
    background-color: #292929;
}

#score p {
    margin: 0;
    font-size: 18px;
}

#percent {
    font-size: 22px;
    font-weight: bold;
    color: #28a745;
}

@media (max-width:800px) {
   
    .stats-container{
       flex-wrap: wrap;
       justify-content: center;
       gap: 30px;
    }
}

